		*{
 margin : 0;
 padding: 0;
 box-sizing: border-box;
}

body {
    margin: 20px;
}

.plate-container {
    position: relative; /* 자식 절대 위치 기준 */
}

.tableset { display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            height: 100vh;
            position: relative;}

.plate { width: 862px;
        height: 862px;
}

.fork { width: 92px;
        height: 485px;
}

.knife { width: 80px;
        height: 485px;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%); /* 초기엔 위로 살짝 */
    width: 510px;
    height: 420px;
    background-color: white;
    z-index: 1;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    cursor: pointer;
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.20);
}

.menu iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.menu.show {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.menu.show:hover {
    transform: translate(-50%, -50%) rotate(20deg);
}


@media screen and (max-width: 704px) {

}
